.venv/*
ubuntuvenv/*
test/__pycache__/*
server/__pycache__/*
app/__pycache__/*
app/api/__pycache__/*
app/api/routes/__pycache__/*
app/data_handlers/__pycache__/*
app/logic/__pycache__/*
app/utils/__pycache__/*