.analysis-btns-container {
    align-self: flex-start;
    margin-left: 2.5rem;
    margin-bottom: 15rem;
}


.analysis-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.analysis-container > button:last-child {
    background: #367F94;
    border-radius: 5px;
    width: 60%;
    height: 70px;
    max-width: 317px;
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.analysis-container > button:last-child:hover {
    background: #3E9EB3;
}

.analysis-btn-container {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.analysis-btn-container > svg, .analysis-btn-container > div {
    margin-left: 2.5rem;
}

.analysis-btn-container > div {
    color: #3182CE;
}

.analysis-btn-container > svg {
    color: #4CAF50;
}

.analysis-btn-container > button:hover {
    background: #3E9EB3;
}