.graph-data-btn-container {
    margin-left: 2.5rem;
}

.graph-data-btn-container > button {
    background: #367F94;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    height: 32px;
    width: 216px;
}

.graph-data-btn-container > button:hover {
    background: #3E9EB3;
}