.home-container {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
}

.home-container > h1 {
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.ui-container { 
    display: flex;
    flex-direction: row; 
    height: 84vh;
}

.ui-container > .visualization-container {
    width: 800px;
    margin: 0 1rem;
}

.ui-container > .container-for-controls-container {
    width: 45%;
    margin: 1rem;
    margin-left: 2.5rem;
}