.display-graphs-container {
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualization-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.visualization-btns-container button {
    font-family: Roboto;
    font-size: 18px;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 47%;
}

.preview-graph-btn {
    background: #C81E1E;
}

.preview-graph-btn:hover {
    background: #FF5C5C;
}

.save-graph-btn {
    background: #367F94;
}

.save-graph-btn:hover {
    background: #3E9EB3;
}

.statistics-component-container {
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    padding-top: 0.25rem;
    margin: 1rem 0;
}

.statistics-component-container h1 {
    font-size: 28px;
    margin-left: 2rem;
}

.statistics-component-container ul {
    list-style-type: none;
}

.statistics-component-container li {
    font-size: 16px;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}