.data-formatting-container.smoothing {
    height: 210px;
}

.data-formatting-with-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    gap: 5rem;
    margin-bottom: 1rem;
}

.data-formatting-with-switch > *:last-child {
    margin-right: 2rem;
    max-width: 320px;
}

.data-formatting-with-switch > div:first-child {
    margin: 0 auto;
}